html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

.text-header {
  font-family: 'Anton', sans-serif;
  background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: brown;
  font-size: 6em;
}

.section-data {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 50rem;
  width: 100%;
  overflow: hidden;
}

.section-data .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 1;
}

.section-data .tech-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.section-data .tech-flow {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
}

.x-flow {
  overflow-x: auto;
  overflow-y: hidden;
}

.section-data .tech-flow .topic-header {
  font-size: 3em !important;
  padding: 10% 5% 5% 5%;
}

.section-data .tech-flow .row img {
  padding: 0;
}

.col-img {
  position: relative;
  background-color: black;
  overflow: hidden;
  height: 50vh;
  min-height: 300px;
  padding: 0;
}

.col-img .tech-img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.col-img .tech-content {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: none;
  background-color: rgba(1, 1, 1, 0.4);
  overflow-x: hidden;
  overflow-y: auto;
}

.company-content {
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

.topic-header {
  text-shadow: 4px 4px 2px navy, 4px 4px 8px white;
  color: #f8f6b0;
  font-family: 'Anton', sans-serif;
}

.company-table thead th {
  color: yellow;
  background-color: #0a53be;
  border: 1px solid black;
}

.company-table tbody th, .company-table tbody td {
  background-color: white;
  color: #0a53be;
  border: 1px solid black;
}

.add-new {
  float: left;
}
