@model IEnumerable<Company>
@{
    ViewData["Title"] = "Companies";
}

<section class="section-data text-center">
    <div class="overlay"></div>
    <img src="/images/ai.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>

    <div class="tech-flow h-100 align-items-center text-center">
        <div class="container d-flex h-100 align-items-center text-center">
            <div class="w-100 text-white ">
                <h1 class="text-header display-3">Top AI Company</h1>
            </div>
        </div>

        <div class="d-flex align-items-center text-center">
            <div class="company-content">
                @foreach (var company in Model)  
                {  
                    
                    <div class="row right-desc" id="@company.CompanyName">
                        <img src="/images/@company.ImageFilename" class="col-md-6 c-img img-fluid" alt="top-6-tech"/>
                        <div class="col-md-6 desc">
                            <h1 class="company-name">@company.CompanyName</h1>
                            <p class="company-desc lead">
                                @company.Summary
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


