@{
    ViewData["Title"] = "Home Page";
}

<section class="section-data text-center">
    <div class="overlay"></div>
    <img src="/images/ai.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>

    <div class="tech-flow h-100 align-items-center text-center">
        <div class="container d-flex h-100 align-items-center text-center">
            <div class="w-100 text-white ">
                <h1 class="text-header display-3">Artificial Intelligence</h1>
                <p class="desc lead mb-0">Artificial Intelligence (AI) is intelligence demonstrated by machines, as opposed to the natural intelligence displayed by animals including humans. AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals. Wikipedia</p>
            </div>
        </div>

        <div class="d-flex align-items-center text-center">
            <section class="section-data text-center">
                <img src="/images/bg.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                <div class="tech-flow d-flex h-100 align-items-center text-center">
                    <div class="h-100 text-center">
                        <div class="container d-flex align-items-center text-center p-4">
                            <div class="w-100 text-white ">
                                <h1 class="topic-header display-3">Top AI Company</h1>
                            </div>
                        </div>
                        <div class="company-content">
                            <div class="row right-desc" id="google">
                                <img src="/images/companies/alphabet.jpg" class="col-md-6 c-img img-fluid" alt="top-6-tech"/>
                                <div class="col-md-6 desc">
                                    <h1 class="company-name">Alphabet (Google)</h1>
                                    <p class="company-desc lead">
                                        Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.<br/> On August 10, 2015, Google announced plans to reorganize its various interests as a conglomerate named Alphabet Inc. Google became Alphabet's largest subsidiary and the umbrella company for Alphabet's Internet interests. Upon completion of the restructuring, Sundar Pichai became CEO of Google, replacing Larry Page, who became CEO of Alphabet. (Wikipedia)
                                    </p>
                                </div>
                            </div>
                            <div class="row left-desc" id="amazon">
                                <div class="col-md-6 desc">
                                    <h1 class="company-name">Amazon</h1>
                                    <p class="company-desc lead">
                                        Amazon.com, Inc. is an American multinational technology company which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It has been referred to as \"one of the most influential economic and cultural forces in the world\", and is one of the world's most valuable brands. It is one of the Big Five American information technology companies, alongside Alphabet, Apple, Meta, and Microsoft. <br/> Amazon was founded by Jeff Bezos from his garage in Bellevue, Washington, on July 5, 1994. Initially an online marketplace for books, it has expanded into a multitude of product categories: a strategy that has earned it the moniker The Everything Store. It has multiple subsidiaries including Amazon Web Services(cloud computing), Zoox(autonomous vehicles), Kuiper Systems(satellite Internet), and Amazon Lab126(computer hardware R&D). (Wikipedia)
                                    </p>
                                </div>
                                <img src="/images/companies/amazon.jpg" class="col-md-6 c-img img-fluid" alt="top-6-tech"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>